[submodule "DMC4 Berial as Hecarim"]
	path = DMC4 Berial as Hecarim
	url = https://github.com/AlecRuin/DMC4-Berial-as-Hecarim
[submodule "DMC5 Dante as Samira"]
	path = DMC5 Dante as Samira
	url = https://github.com/AlecRuin/DMC5-Dante-as-Samira
[submodule "DMC5 Dante as Riven"]
	path = DMC5 Dante as Riven
	url = https://github.com/AlecRuin/DMC5-Dante-as-Riven
[submodule "DMC5 Griffon as Smolder"]
	path = DMC5 Griffon as Smolder
	url = https://github.com/AlecRuin/DMC5-Griffon-as-Smolder
[submodule "DMC5 Nero as Blitzcrank"]
	path = DMC5 Nero as Blitzcrank
	url = https://github.com/AlecRuin/DMC5-Nero-as-Blitzcrank
[submodule "DMC5 Nobody as Skarner"]
	path = DMC5 Nobody as Skarner
	url = https://github.com/AlecRuin/DMC5-Nobody-as-Skarner
[submodule "DMC5 V as Hwei"]
	path = DMC5 V as Hwei
	url = https://github.com/AlecRuin/DMC5-V-as-Hwei
[submodule "DMC5 Vergil as Yasuo"]
	path = DMC5 Vergil as Yasuo
	url = https://github.com/AlecRuin/DMC5-Vergil-as-Yasuo
[submodule "DMC5 Vergil as Yone"]
	path = DMC5 Vergil as Yone
	url = https://github.com/AlecRuin/DMC5-Vergil-as-Yone
[submodule "Gojo as Mordekaiser"]
	path = Gojo as Mordekaiser
	url = https://github.com/AlecRuin/JJK-Gojo-as-Mordekaiser
[submodule "swoggerslol"]
	path = swoggerslol
	url = https://github.com/AlecRuin/swoggerslol
[submodule "Sai as Hwei"]
	path = Sai as Hwei
	url = https://github.com/AlecRuin/Sai-as-Hwei
