DMC5 Vergil as Yasuo/monster-zero-ulta
DMC5 Vergil as Yasuo/vergil model
DMC5 Vergil as Yasuo/Animation Attempts
DMC5 Vergil as Yasuo/Finished Anims
DMC5 Vergil as Yasuo/Yasuo Copy

DMC5 Vergil as Yone/Vergil Majin
DMC5 Vergil as Yone/vergil model
DMC5 Vergil as Yone/Yone Copy

DMC5 Doppelganger as Yasuo/Vergil Majin Bushin

DMC5 Nero as Blitzcrank/Nero Model
DMC5 Nero as Blitzcrank/Blitzcrank Copy
DMC5 Nero as Blitzcrank/Battery Reference.mb

DMC5 Dante as Samira/Dante Model
DMC5 Dante as Samira/His Attempt
DMC5 Dante as Samira/Samira Copy

Full Build Gwen/Gwen Copy

DMC5 Dante as Riven/Dante Model
DMC5 Dante as Riven/Riven - Copy

*.anm

DMC5 V as Hwei/Hwei/data/hwei_skins_root_skins_skin0_skins_skin1_skins_skin10_skins_skin2_skins_skin3_skins_skin4_skins_skin5_skins_skin6_skins_skin7_skins_skin8_skins_skin9.bin
DMC5 V as Hwei/Hwei/data/hwei_skins_skin0_skins_skin1_skins_skin10_skins_skin2_skins_skin3_skins_skin4_skins_skin5_skins_skin6_skins_skin7_skins_skin8_skins_skin9.bin
DMC5 V as Hwei/Hwei/data/hwei_skins_skin1_skins_skin10_skins_skin2_skins_skin3_skins_skin4_skins_skin5_skins_skin6_skins_skin7_skins_skin8_skins_skin9.bin
DMC5 V as Hwei/V model
DMC5 V as Hwei/Hwei Model

DMC5 Vergil as Yone/Yone/data/yone_skins_skin0_skins_skin10_skins_skin11_skins_skin12_skins_skin13_skins_skin14_skins_skin15_skins_skin16_skins_skin17_skins_skin18.bin
DMC5 Vergil as Yone/Yone/data/yone_skins_skin0_skins_skin19_skins_skin20_skins_skin21_skins_skin22_skins_skin23_skins_skin24_skins_skin25.bin
DMC5 Vergil as Yone/Yone/data/yone_skins_skin0_skins_skin1_skins_skin19_skins_skin2_skins_skin20_skins_skin21_skins_skin22_skins_skin23_skins_skin24_skins_skin25_skins_skin3_skins_skin4_skins_skin5_skins_skin6_skins_skin7_skins_skin8_skins_skin9.bin
DMC5 Vergil as Yone/Yone/data/yone_skins_skin0_skins_skin19_skins_skin20_skins_skin21_skins_skin22_skins_skin23_skins_skin24_skins_skin25.bin
DMC5 Vergil as Yone/Yone/data/yone_skins_skin0_skins_skin10_skins_skin11_skins_skin12_skins_skin13_skins_skin14_skins_skin15_skins_skin16_skins_skin17_skins_skin18.bin

DMC5 Griffon as Smolder/Smolder Copy
DMC5 Griffon as Smolder/Griffon Model

DMC5 Berial as Hecarim/Berial Model
DMC5 Berial as Hecarim/Hec Copy

DMC5 Nobody as Skarner/Nobody Model
DMC5 Nobody as Skarner/Skarner Copy

Gojo as Mordekaiser/Mord - Copy
Gojo as Mordekaiser/Gojo model

./mayaSwatches
*/.mayaSwatches