[submodule "DMC4 Berial as Hecarim"]
	path = DMC4 Berial as Hecarim
	url = https://github.com/AlecRuin/DMC4-Berial-as-Hecarim
[submodule "DMC5 Dante as Samira"]
	path = DMC5 Dante as Samira
	url = https://github.com/AlecRuin/DMC5-Dante-as-Samira
