:root{
    --darker-primary-color:2, 4, 6;
    --primary-color: 6,9,15;
    --lighter-primary-color:14,20,30;
    --lightest-primary-color:34, 44, 63;
    --secondary-color: 250,199,102;
    --lightest-secondary-color: 248, 234, 209;
    --lighter-secondary-color: 255,222,161;
    --tertiary-color: 213, 102, 250;
    --darker-tertiary-color:127, 60, 149;
    --lighter-tertiary-color: 232, 163, 255;
    --quaternary-color: 102, 250, 208;
    --lighter-quaternary-color: 164, 255, 229;
}
html{
    background-color: rgb(var(--primary-color));
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    clip-path: rounded(20);
    scroll-behavior: smooth;
}
body{
    background-color: rgb(var(--primary-color));
}
a {
    text-decoration: none; 
    color: inherit; 
    background: none; 
    border: none; 
}
.basic-text-style{
    font-weight: 700;
    color: rgb(var(--lightest-secondary-color));
}
.highlight-text-style{
    color: rgb(var(--secondary-color));
    font-weight:800;
}
.tert-text-style{
    font-weight: 700;
    color: rgb(var(--tertiary-color));
}
.secondary-to-lighter-secondary{
    background: linear-gradient(to right, rgb(var(--secondary-color)) 0%, rgb(var(--lighter-secondary-color)) 50%, rgb(var(--secondary-color)) 100%);
    font-weight: 800;
}
.tertiary-to-lighter-tertiary{
    background: linear-gradient(to right, rgb(var(--tertiary-color)) 0%, rgb(var(--lighter-tertiary-color)) 50%, rgb(var(--tertiary-color)) 100%);
    font-weight: 800;
}
.quaternary-to-lighter-quaternary{
    background: linear-gradient(to right, rgb(var(--quaternary-color)) 0%, rgb(var(--lighter-quaternary-color)) 50%, rgb(var(--quaternary-color)) 100%);
    font-weight: 800;
}

.text-gradient-bg{
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.shimmer{
    animation: shimmer 3.0s linear infinite;
    background-size: 200% 100%;
}
@keyframes shimmer {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}
.w-100{
    width: 100%;
}
.h-90vh{
    height: 90vh;
}
.h-100{
    height: 100%;
}
.h-75{
    height: 75%;
}
.h-a{
    height: auto;
}
.h-50{
    height: 50%;
}
.h-25{
    height: 25%;
}
.w-90{
    width: 90%;
}
.w-85{
    width: 85%;
}
.w-75{
    width: 75%;
}
.w-66{
    width: 66%;
}
.w-50{
    width: 50%;
}
.w-44{
    width: 44%;
}
.w-33{
    width: 33%;
}
.w-25{
    width: 25%;
}
.w-20{
    width: 20%;
}
.w-15{
    width: 15%;
}
.w-a{
    width: auto;
}
.m-3rem{
    margin: 3rem;
}
.m-2rem{
    margin: 2rem;
}
.m-1rem{
    margin: 1rem;
}
.mt-2rem{
    margin-top: 2rem;
}
.mb-0rem{
    margin-bottom: 0rem;
}
.mbt-3rem{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mbt-2rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mbt-1rem{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mbt-1-2rem{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mbt-0rem{
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.mbt-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.mrl-2rem{
    margin-left: 2rem;
    margin-right: 2rem;
}
.mrl-1rem{
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.jc-left{
    justify-content: left;
}
.jc-right{
    justify-content: right;
}
.jc-center{
    justify-content: center;
}
.jc-se{
    justify-content: space-evenly;
}
.jc-sa{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.fd-column{
    flex-direction: column;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.image-stretch{
    object-fit:fill;
    overflow: visible;
}
.fs-10vw{
    font-size: 10vw;
}
.fs-5vw{
    font-size: 5vw;
}
.fs-3vw{
    font-size: 3vw;
}
.fs-2vw{
    font-size: 2vw;
}
.fs-1vw{
    font-size: 1vw;
}
.afs-1vw{
    font-size: 1vw;
}
.afs-1-1-2{
    font-size: 1.5vw;
}
.fs-1-1-2vw{
    font-size: 1.5vw;
}
.fs-1-2vw{
    font-size: .5vw;
}
.fs-3-4vw{
    font-size: .75vw
}
.ar-14-4{
    aspect-ratio: 14/4;
}
.no-wrap{
    white-space: nowrap;
}
.text-wrap{
    white-space: wrap;
}
.z-5{
    z-index: 5;
}
.z-10{
    z-index: 10;
}
.overflow-hidden{
    overflow: hidden;
}
.Mod-List{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
.banner{
    background-image: url("./media/banner.png");
    width: 15%;
    object-fit: fill;
    overflow: visible;
    margin-left: 1rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-size: 8vw;
    font-family: monospace;
}
.preview-nugget{
    width: 66%;
    height: auto;
    display: flex;
    justify-content: right;
    aspect-ratio: 14/4;
    box-shadow: 0px 15px 20px 20px rgb(0 0 0 / 40%);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden; 
}
.nugget-body{
    transition: background-color 0.2s ease;
    overflow: hidden;
}
.nugget-body:hover{
    background-color: rgb(var(--lighter-primary-color));
}
.showcase-carousel{
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    align-items: center;
}
.carousel{
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    perspective: 1000px;
    height: 15%;  
}
.carousel-item{
    aspect-ratio: 16/9;
    position: absolute;
    transform-origin: center center;
    transition: transform 1s ease, width 1s ease, height 1s ease; 
}
.carousel-video{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 12px 20px 5px rgb(0 0 0 / 74%);
}
.underline{
    width: 50%;
    background-color: rgb(248, 234, 209);
    height: 2px;
    margin: auto;
}
.announcement{
    height: 8%;
}
.download-button{
    border: 1vw rgb(34, 44, 63) solid;
    border-radius: 1vw;
    background-color: rgb(34, 44, 63);
    box-shadow: 0px 0px 12px 2px rgba(34, 44, 63, 0.74);
    transition: background-color 0.2s ease,border-color 0.2s ease,box-shadow 0.2s ease;
}
.download-button:hover{
    border: 1vw rgb(44, 57, 83) solid;
    background-color: rgb(44, 57, 83);
    box-shadow: 0px 0px 12px 2px rgba(44, 57, 83, 0.74);
}
.learn-more-button{
    border: 1vw rgb(34, 44, 63) solid;
    border-radius: 1vw;
    background-color: rgb(34, 44, 63);
    box-shadow: 0px 0px 12px 2px rgba(34, 44, 63, 0.74);
    transition: background-color 0.2s ease,border-color 0.2s ease,box-shadow 0.2s ease;
}
.learn-more-button:hover{
    border: 1vw rgb(44, 57, 83) solid;
    background-color: rgb(44, 57, 83);
    box-shadow: 0px 0px 12px 2px rgba(44, 57, 83, 0.74);
}
.video-caption{
    position: relative;
    margin: auto;
    text-align: center;
}
.navigation-box{
    z-index: 10;
    position: absolute;
    top: 2vw;
    left: 2vw;
    height: auto;
    width: auto;
    background-color: rgb(var(--lighter-primary-color));
    box-shadow: 6px 7px 20px 10px rgba(0,0,0, 0.74);
    border: 5px solid rgb(var(--darker-primary-color));
    border-radius: 5px;
    transition: top 0.5s ease-in-out;
    aspect-ratio: 3/4;
}
.navigation-list{
    margin: 0px;
    height: auto;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navigation-box li{
    font-size: .5vw;
    display: block;
    transition: background-color 0.2s ease;
    width: 100%;
    height: auto;
}
.navigation-box a{
    font-size: .5vw;
    display: block;
    padding: .25vw;
    transition: background-color 0.2s ease;
    width: 100%;
    height: auto;
}
.navigation-box li:hover{
    background-color: rgb(var(--lightest-primary-color));
}
.simple-underline{
    height: .1vw;
    width: 75%;
    margin-top: .15vw;
    margin-bottom: .15vw;
    background-color: rgb(var(--lightest-secondary-color));
    margin: auto;
}
.quaternary-underline{
    height: .1vw;
    width: 95%;
    margin-top: .15vw;
    margin-bottom: .15vw;
    background-color: rgb(var(--quaternary-color));
    margin: auto;
}
.navigation-title{
    text-align: center;
    font-size: .75vw;
    margin-top: .25vw;
    margin-bottom: .25vw;
    color: rgb(var(--secondary-color));
}
.mod-info{
    width: 85%;
    box-shadow: 6px 7px 20px 10px rgba(0,0,0, 0.74);
    border: 5px solid rgb(var(--darker-primary-color));
    border-radius: 5px;
    margin: 5rem;
}
.basic-video-style{
    box-shadow: 0px 0px 20px 12px rgba(var(--darker-tertiary-color), 0.5);
    border-radius: 10px;
    width: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.basic-anchor-style{
    text-decoration: underline;
    font-style:italic;
    font-weight: 900;
    color: rgb(var(--tertiary-color));
}
.basic-mod-descriptor{
    width: 75%;
    font-size: 1vw;
}
.basic-button{
    border: .5vw rgb(34, 44, 63) solid;
    border-radius: .5vw;
    background-color: rgb(34, 44, 63);
    box-shadow: 0px 0px 12px 2px rgba(34, 44, 63, 0.74);
    transition: background-color 0.2s ease,border-color 0.2s ease,box-shadow 0.2s ease;
}
.basic-button:hover{
    border: .5vw rgb(44, 57, 83) solid;
    background-color: rgb(44, 57, 83);
    box-shadow: 0px 0px 12px 2px rgba(44, 57, 83, 0.74);
}
.quaternary-glowbox{
    box-shadow: 0px 0px 12px 2px rgba(var(--quaternary-color), 0.74);
}
@media (max-width:100em) {
    .banner{
        display: none;
    }
    .mod-info{
        width: 95%;
        margin: 1vw;
    }
    .navigation-box{
        display: none;
    }
    .basic-mod-descriptor{
        width: 95%;
        font-size: 2vw;
    }
    .basic-video-style{
        width: 85%;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .afs-1vw{
        font-size: 1.5vw;
    }
    .afs-1-1-2{
        font-size: 2vw;
    }
}