:root{
    --background-color: rgb(6,9,15);
    --highlight-color: rgb(250, 199, 102);
    --basic-text-color: rgb(248, 234, 209);
    --quaternary-color: rgb(255, 222, 161);
}
html{
    background-color: var(--background-color);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    clip-path: rounded(20);
}
body{
    background-color: var(--background-color);
}
a {
    text-decoration: none; 
    color: inherit; 
    background: none; 
    border: none; 
}
.basic-text-style{
    font-weight: 700;
    color: var(--basic-text-color);
}
.highlight-text-style{
    color: var(--highlight-color);
    font-weight:800;
}
.tert-text-style{
    font-weight: 700;
    color: var(--quaternary-color);
}

.highlight-to-quaternary {
    position: relative;
    font-weight: 800;
    color: transparent;
    background: linear-gradient(to right, var(--highlight-color) 0%, var(--quaternary-color) 50%, var(--highlight-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.shimmer{
    animation: shimmer 3.0s linear infinite;
    background-size: 200% 100%;
}
@keyframes shimmer {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.Mod-List{
    display: flex;
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.h-a{
    height: auto;
}
.h-50{
    height: 50%;
}
.h-25{
    height: 25%;
}
.w-66{
    width: 66%;
}
.w-50{
    width: 50%;
}
.w-44{
    width: 44%;
}
.w-33{
    width: 33%;
}
.w-25{
    width: 25%;
}
.w-20{
    width: 20%;
}
.w-15{
    width: 15%;
}
.w-a{
    width: auto;
}
.mbt-3rem{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mbt-2rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mbt-1rem{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mbt-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.mrl-1rem{
    margin-left: 1rem;
    margin-right: 1rem;
}
.m-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.jc-left{
    justify-content: left;
}
.jc-right{
    justify-content: right;
}
.jc-center{
    justify-content: center;
}
.jc-se{
    justify-content: space-evenly;
}
.fd-column{
    flex-direction: column;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.image-stretch{
    object-fit:fill;
    overflow: visible;
}
.fs-3vw{
    font-size: 3vw;
}
.fs-2vw{
    font-size: 2vw;
}
.fs-1vw{
    font-size: 1vw;
}
.ar-14-4{
    aspect-ratio: 14/4;
}
.banner{
    background-image: url("./media/banner.png");
    width: 15%;
    object-fit: fill;
    overflow: visible;
    margin-left: 1rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-size: 8vw;
    font-family: monospace;
}
.preview-nugget{
    width: 66%;
    height: auto;
    display: flex;
    justify-content: right;
    aspect-ratio: 14/4;
    box-shadow: 0px 15px 20px 20px rgb(0 0 0 / 40%);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden; 
    
}
.nugget-body{
    transition: background-color 0.2s ease;
}
.nugget-body:hover{
    background-color: rgb(14, 20, 30);
  }
.showcase-carousel{
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    align-items: center;
}
.carousel{
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    perspective: 1000px;
    height: 15%;  
}
.carousel-item{
    aspect-ratio: 16/9;
    position: absolute;
    transform-origin: center center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 12px 20px 5px rgb(0 0 0 / 74%);
    transition: transform 1s ease, width 1s ease, height 1s ease;
}
.underline{
    width: 50%;
    background-color: rgb(248, 234, 209);
    height: 2px;
    margin: auto;
}
.announcement{
    height: 5%;
}
.download-button{
    border: 1vw rgb(44, 57, 83) solid;
    border-radius: 1vw;
    background-color: rgb(44, 57, 83);
    box-shadow: 0px 0px 12px 2px rgba(44, 57, 83, 0.74);
}
